.approach{
    padding: 10% 5%;
    img{
        height: auto;
    }
}
@media (min-width: 767px) {
    .approach{
        padding: 5% 10%;
        background-color: red;
        &Inner{
            display: flex;
            &__left, &__right{
                width: 50%;
            }
            &__left{
                padding-right: 5%;
            }
            &__right{
                padding-left: 5%;
            }
        }
    }
}