.blog {
  padding: 10% 5%;
  &Inner {
    &__right {
      padding-top: 10%;
      position: relative;
      .slideContainer {
        position: relative;
        display: flex;
        overflow: hidden;
        width: 100%;
      }
      .slideInner {
        display: flex;
        transition: transform 0.4s ease;
        will-change: transform;
        width: 100%;
      }
      .slideItem {
        flex-shrink: 0;
        width: 100%;
      }
      .slideBlog {
        padding-bottom: 2vh;
        border-top: 1px solid var(--color-black);
        width: fit-content;
      }
      .btn {
        border: 1px solid var(--color-black);
        border-radius: 10px;
        padding: 0.25em 1em;
        width: fit-content;
      }
      .navigationButtons {
        width: fit-content;
        display: flex;
        gap: 1em;
        position: absolute;
        top: 20%;
        right: 0%;
        button {
          width: 50px;
          aspect-ratio: 1/1;
          border: 1px solid var(--color-black);
          padding: 0.25em;
          border-radius: 50%;
          cursor: pointer;
          &:first-child {
            img {
              rotate: 180deg;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 767px) {
  .blog {
    padding: 5% 10%;
    &Inner {
      display: flex;
      justify-content: center;
      align-items: center;
      &__left,
      &__right {
        width: 50%;
      }
      &__left {
        padding-right: 5%;
      }
      &__right {
        padding-top: 0;
        .navigationButtons {
          top: 10%;
          right: 0%;
        }
      }
    }
  }
}
