.blog {
  padding: 10% 5%;
  &Inner {
    &__right {
      padding-top: 10%;
      .item {
        padding-bottom: 2vh;
        border-top: 1px solid var(--color-black);
        rows: 2;
        &:nth-child(2) {
          h2 {
            font-size: var(--size-2xl);
          }
          .btn {
            display: none;
          }
        }
      }
      .btn {
        border: 1px solid var(--color-black);
        border-radius: 10px;
        padding: 0.25em 1em;
        width: fit-content;
      }
    }
  }
}
@media (min-width: 767px) {
  .blog {
    padding: 5% 10%;
    &Inner {
      display: flex;
      justify-content: center;
      align-items: center;
      &__left,
      &__right {
        width: 50%;
      }
      &__left {
        padding-right: 5%;
      }
      &__right {
        padding-top: 0;
      }
    }
  }
}
