.services {
  background-color: var(--color-black);
  color: var(--color-white);
  overflow: hidden;
  &Inner {
    background-color: var(--color-black);
    display: flex;
    width: 300dvw;
    height: fit-content;
    align-items: center;
    &__item {
      padding: 10% 5%;
      width: 100%;
      height: 100dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      position: relative;
      &::after,
      &::before {
        content: "";
        width: 10%;
        height: 2px;
        position: absolute;
        background-color: var(--color-white);
        left: -1px;
      }
      &::before {
        left: auto;
        right: 0;
      }
      div {
        text-align: center;
        h3 {
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 767px) {
  .services {
    &Inner {
      &__item {
        padding: 5% calc(10% / 3);
        div {
          padding: 5%;
        }
      }
    }
  }
}
@media (min-width: 1025px) {
  .services {
    &Inner {
      &__h2 {
        font-size: var(--size-3xl) !important;
      }
    }
  }
}
